PORT=5000

# For Local MongoDB:
MONGODB_URI=mongodb://localhost:27017/hostel_management

# For MongoDB Atlas (Cloud):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/hostel_management?retryWrites=true&w=majority
